DATABASE_URL=postgres://akv:akv_change_me@localhost:5432/akv
JWT_SECRET=please_change_jwt_secret
APP_MASTER_KEY=please_change_master_key_32bytes_or_base64
PORT=8787
JWT_EXPIRES_IN=7d
ARGON2_MEMORY_COST=19456
ARGON2_TIME_COST=2
ARGON2_PARALLELISM=1
